  
div.selectOptions {
    position: absolute;
    top: 10%;
    width: 18%;
}
div.selectResults {
    position: absolute;
    top:15%;
    left: 18%;
    width: 70%;
    min-height: 100%;
    height: scrool;
    border: 3px solid #21ada4;
}

div.selectOptionsHeader{
    width: 80;
    background-color: #82eee7;
    padding-left: 7%;
}

div.checkbox{
    background-color: #d5f4f2; 
    padding-left: 7%;
}