
<style>
  div.right {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  } 
  
  div.absolute {
    position: absolute;
    top:0;
    left: 0;
    width: 30%;
    height: 100%;
    border: 3px solid #73AD21;
  }
  </style>
<ul>
    Select media type :
    <br>
    <input type="checkbox" (change)="onSelectingImage()">Image
    <input type="checkbox" (change)="onSelectingSound()">Sound
    <input type="checkbox" (change)="onSelectingText()">Text
    <input type="checkbox" (change)="onSelectingVideo()">Video
    <input type="checkbox" (change)="onSelectingOther()">Other
</ul>
<br>
<br>
<ul>
    What are you trying to do?
    <br>
    <input type="checkbox" (change)="onSelectingGenerate()">Generate new content
    <input type="checkbox" (change)="onSelectingEdit()">Edit existing
</ul>
<br>
<br>
  <input type="radio" id="Free" name="freeOptions" value="Free" (change)="onSelectingFree()">
  <label for="free">Free</label><br>
  <input type="radio" id="FreeVersionAvailable" name="freeOptions" value="FreeVersionAvailable" (change)="onSelectingFreeVersion()">
  <label for="FreeVersionAvailable">FreeVersionAvailable</label><br>  
  <input type="radio" id="All" name="freeOptions" value="All" (change)="onSelectingAll()">
  <label for="All">All</label>

  <br>
  <br>
  

<app-search-area [tools]="tools"></app-search-area>

