  
div.selectOptions {
    position: absolute;
    top: 10%;
    width: 20%;


}
div.selectResults {
    position: absolute;
    top:15%;
    left: 18%;
    width: 70%;
    min-height: 100%;
    height: scrool;
    border: 3px solid #21ada4;
}