  
div.selectOptions {
    position: absolute;
    top: 5px;;
    left: ;
    width: 20%;


}
div.selectResults {
    position: absolute;
    top:0;
    left: 20%;
    width: 70%;
    min-height: 100%;
    height: scrool;
    border: 3px solid #21ada4;
}