<div class="selectOptions">
  <ul>
    <div class="selectOptionsHeader">Select media type :</div>
    <br>
    <div class="checkbox">
      <input type="checkbox" [checked]="defaultImageSelectedChecked"  (change)="onSelectingImage()"> Image
    <br>
    <input type="checkbox" [checked]="defaultSoundSelectedChecked" (change)="onSelectingSound()"> Sound
    <br>
    <input type="checkbox"  [checked]="defaultTextSelectedChecked" (change)="onSelectingText()"> Text
    <br>
    <input type="checkbox"  [checked]="defaultVideoSelectedChecked" (change)="onSelectingVideo()"> Video
    <br>
    <input type="checkbox" [checked]="defaultOtherSelectedChecked" (change)="onSelectingOther()"> Other

  </div>
</ul>
<br>
<ul>
  <div class="selectOptionsHeader">What are you trying to do?</div>
  <br>
  <div class="checkbox">
  <input type="checkbox" [checked]="defaultGenerateSelectedChecked" (change)="onSelectingGenerate()"> Generate new content
  <br>
  <input type="checkbox" [checked]="defaultEditSelectedChecked" (change)="onSelectingEdit()"> Edit existing
  </div>
</ul>

<div hidden="true">

<br>
  <input type="radio" id="Free" name="freeOptions" value="Free" [checked]="true" (change)="onSelectingFree()">
  <label for="free">Free</label><br>
  <input type="radio" id="FreeVersionAvailable" name="freeOptions" value="FreeVersionAvailable" (change)="onSelectingFreeVersion()">
  <label for="FreeVersionAvailable">FreeVersionAvailable</label><br>  
  <input type="radio" id="All" name="freeOptions" value="All" (change)="onSelectingAll()">
  <label for="All">All</label>
  <br> 
  <br> 
    Registration required:
    <br> 
  <input type="radio" id="regirstrationNotRequired" name="registrationOptions" [checked]="true" value="true">
  <label for="regirstrationNotRequired">No</label><br>
  <input type="radio" id="regirstrationRequired" name="registrationOptions" value="false">
  <label for="regirstrationRequired">Yes</label><br>
  <br>
  Installation required:
  <br> 
<input type="radio" id="installationNotRequired" name="installationOptions" [checked]="true" value="true">
<label for="installationNotRequired">No</label><br>
<input type="radio" id="installationRequired" name="installationOptions" value="false">
<label for="installationRequired">Yes</label><br>
</div>
</div>





<div class="selectResults">
  <app-search-area [tools]="tools" ></app-search-area>
</div>

<app-search-by-word (parentFunction)="parentFunction($event)"></app-search-by-word>
<app-tag-display (parentFunction)="parentFunction($event)" ></app-tag-display>

