<div>  
        <div class="singleTool" *ngFor="let tool of tools">  
          <style type="text/css">

          </style>
          <table class="tg">
          <thead>
            <tr>
              <td class="tg-8t2h" rowspan="4"><a href="{{tool.toolUrl}}"><img src="assets/images/{{tool.imageName}}.png" alt="Image" width="200" height="150"></a></td>
              <td class="tg-t9nl"><a href="{{tool.toolUrl}}">{{tool.name}}</a></td>
            </tr>
            <tr>
              <td class="tg-jwt7" rowspan="3"><span style="font-weight:bold">              
                  {{tool.description}},
                media:{{tool.media}},
                generate:{{tool.generate}},
                editExisting:{{tool.editExisting}}</span></td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </thead>
          </table>
        </div>
</div>

