



<div>
<div class="singleTool" *ngFor="let tool of tools">    
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-1fm6" colspan="2"><a href="{{tool.toolUrl}}">{{tool.name}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-ibkn" colspan="2">
                {{tool.description}},
                media:{{tool.media}},
                generate:{{tool.generate}},
                editExisting:{{tool.editExisting}}
            </td>
          </tr>
          <tr>
            <td class="tg-bltd">{{tool.free}}</td>
            <td class="tg-7lxh">
                <a href="{{tool.youtubeUrl}}"><img src="assets/YoutubeLogo.jpg" alt="Watch our youtube video about the service" width="45" height="30"></a>
            </td>
          </tr>
        </tbody>
        </table>
        <br>
</div>







</div>

