
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}


.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-t9nl{background-color:#acddd5;border-color:#000000;color:#000000;font-size:16px;font-weight:bold;text-align:left;
  vertical-align:top;width: 100%}
.tg .tg-8t2h{background-color:#ffffff;border-color:inherit;color:#efefef;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-jwt7{background-color:#9bf6ea;color:#000000;text-align:left;vertical-align:top}


div.singleTool{
    width: 100%;
}