
<div class="mediaTypeOptions">
    <div>

        <p class="textFormat">Select media type :</p>
        <br>
        <br>
        <button type="button" class="myButton" (click)="onSelectingImage()">Image</button>
        <br>
        <br>
        <button type="button" class="myButton" (click)="onSelectingText()">Text</button>
        <br>
        <br>
        <button type="button" class="myButton" (click)="onSelectingSound()">Sound</button>
        <br>
        <br>
        <button type="button" class="myButton" (click)="onSelectingOther()">Other</button>
    </div>
</div>

